<article class="work-experience">
    <h2 class="section-h2-title">Nov. 2024 - Actualidad</h2>
    <div class="work-experience-details">
        <h3 class="section-h3-title">Aire Networks del Mediterráneo S.L.</h3>
        <h4 class="section-h4-title">Becario</h4>
        <p class="section-text">
            <ul>
                <li>
                    Configuré y preparé Routers y ONTs y ayudé en la gestión de las VLANs e IPs.
                </li>
                <li>
                    Apoyé a distribuidores, delegados y contratas en las diferentes solicitudes de fibra, así como también proporcioné la viabilidad FTTH de las mismas.
                </li>
            </ul>
        </p>
    </div>
</article>
