<article class="work-experience">
    <h2 class="section-h2-title">Abr. 2024 - Actualidad</h2>
    <div class="work-experience-details">
        <h3 class="section-h3-title">GIOS Brand Distribution S.L.</h3>
        <h4 class="section-h4-title">Programador informático</h4>
        <p class="section-text">
            <ul>
                <li>
                    Lideré el desarrollo técnico, pues fui el único informático de la empresa. Así, resolví desafíos y retos de todo tipo por mi propia cuenta.
                </li>
                <li>
                    Desarrollé una plataforma WordPress desde cero, implementando código propio escrito en HTML, CSS, JavaScript y PHP.
                </li>
                <li>
                    Implementé prácticas de diseño para construir interfaces estéticas, eficientes, adaptables y accesibles.
                </li>
                <li>
                    Generé el contenido relacionado con la venta de los productos ofertados en la web, donde mejoré y apliqué conocimientos de posicionamiento SEO.
                </li>
                <li>
                    Me coordiné y comuniqué con los diferentes departamentos de la empresa, como ventas o administración.
                </li>
                <li>
                    Optimicé y mejoré los diferentes módulos previamente existentes de la antigua página web, así como también agregué nuevos.
                </li>
            </ul>
        </p>
    </div>
</article>
