<article class="work-experience">
    <h2 class="section-h2-title">May. 2021 - oct. 2022 y jun. 2023 - oct. 2023</h2>
    <div class="work-experience-details">
        <h3 class="section-h3-title">Parque Científico de la Universidad Miguel Hernández de Elche</h3>
        <h4 class="section-h4-title">Becario, creador de ejercicios bajo el ecosistema Drupal 7. </h4>
        <p class="section-text">
            <ul>
                <li>
                    Realicé la creación de los ejercicios bajo un ecosistema Drupal 7 como parte de unas prácticas en el Parque Científico de la Universidad Miguel Hernández de Elche.
                </li>
            </ul>
        </p>
    </div>
</article>
