@import "components/button.css";
@import "components/navigation.css";

:root{
    --background-color: #15151b;
    --background-color-secondary: #fefefd;
    --text-color: #fefefd;
    --text-color-secondary: #15151b;
    --primary-color: #fefe00;
    --primary-color-variation: #ffff87;
    --secondary-color: #29282d;
    --tertiary-color: #1E1E1E;
    --accent-color: #4f98c9;
    --accent-color-variation: #92c0de;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header{
    min-height: 64px;
    background-color: var(--secondary-color);
}

body{
    background-color: #15151b;
    color: #fefefd;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    min-height: 64px;
}

main{
    min-height: 100vh;
}

footer{
    background-color: var(--secondary-color);
    padding: 32px;
    padding-bottom: 280px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

footer ul li{
    margin: 8px 0;
    font-size: 4rem;
    transition: all 0.2s ease-in-out;
}

footer ul li:hover{
    transform: scale(1.2);
}

footer ul li a{
    color: var(--text-color);
}

footer ul li:hover a{
    color: var(--accent-color-variation);
}



body{
    margin-top: 64px;
}