@import "components/card.css"; 
@import "components/chip.css";

main{
    padding-bottom: 64px;
}

/****************************************************/

#first-impression-wrapper{
    margin-bottom: 32px;
}

#name{
    font-size: 3.5em;
}

#name span:hover{
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    cursor: default;
}

#name span:not(:hover){
    transition: all 0.4s ease-in-out;
}

#name:not(:hover){
    color: var(--text-color);
    transition: all 0.4s ease-in-out;
}

#subtitle{
    margin-bottom: 32px;
}

#subtitle span{
    height: 100%;
}

#subtitle:hover{
    transform: translateY(-4px);
    transition: all 0.4s ease-in-out;
    cursor: default;
}

#subtitle:not(:hover){
    transition: all 0.4s ease-in-out;
}

/****************************************************/
#face-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 0 148px;
}

#face-img-wrapper{
    height: 360px;
    width: 360px;
    display: flex;
    justify-content: center;
}

#face-img{
    position: relative;
    z-index: 1;
    transition: all 1s;
}

#face-img:hover{
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.25);
    transition: all 0.2 ease-in-out;
    cursor: pointer;
}

#contact-wrapper{
    transition: none;
    position: relative;
    left: -162px;
    padding-left: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

#contact{
}

#contact > h3{
    margin: 8px;
    margin-inline: 64px;
    border-bottom: solid var(--accent-color);
}

#contact li{
    font-size: 1.25em;
    list-style: none;
}

#contact li a{
    color: var(--text-color);
}


@media screen and (max-width: 1024px) {
    #face-wrapper{
        padding: 0 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
    
    #contact-wrapper{
        width: 324px;
    }

    #first-impression-wrapper{
        margin-bottom: 0;
    }

    #contact-wrapper{
        position: relative;
        top: -162px;
        left: 0;
        padding-inline: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        padding-bottom: 12px;
        margin-bottom: -152px;
    }

    #contact{
        position: relative;
        margin-top: 81px;
    }
}

/****************************************************/

#skills-wrapper{
    margin-bottom: 32px;
}

.skill{
    margin: 4px;
}

.skill ul{
    list-style: none;
}


#about-me > h3{
    margin: 8px;
    margin-inline: 64px;
    border-bottom: solid var(--accent-color);
}

#about-me-text{
    padding-inline: 12%;
}

#about-me-text > h4{
    margin-top: 24px;
    margin-bottom: 8px;
}

#about-me-text > h4 > span{
    border-bottom: solid var(--accent-color);
}

#language-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.language{
    margin: 4px;
    list-style: none;
}

.language-name{
    font-size: 1em;    
}

.language-level{
    font-size: 0.75em;
}