<article>
    <h2 class="section-h2-title">Idiomas</h2>
    <ul class="knowledge-list">
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxs-circle'></i>Español</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxs-circle'></i>Inglés</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxs-circle'></i>Catalán</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxs-circle'></i>Alemán</span>
        </li>
    </ul>
</article>
