<article>
    <h2 class="section-h2-title">Lenguajes de programación</h2>
    <ul class="knowledge-list">
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxl-c-plus-plus'></i>C++</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxl-html5'></i>HTML</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxl-css3'></i>CSS</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxl-javascript'></i>JS</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bxl-java'></i>Java</span>
        </li>
        <li class="knowledge-item">
            <span class="knowledge-title"><i class='bx bx-data' ></i>SQL</span>
        </li>
    </ul>
</article>
