<article class="certificate">
    <h2 class="section-h2-title">🤖 Saturday AI</h2>
    <p class="section-text">Curso de Inteligencia Artificial y Deep Learning con Python.</p>
    <iframe
        scrolling="no"
        allowfullscreen="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        class="onlinecoursehost-certificate-embed"
        src="https://app.onlinecoursehost.com/certificate-embed/9rvLAQECS7ddrJilBjGjIVoQazm1-1/YL6oPHtfZcWNG0noY2KJ/crDOp3hvBZYhpocyRqpQCi5pGoO2"
        width="100%"
        frameborder="0"
    >
    </iframe>
</article>
