<section class="section-aboutme">
    <h1 class="section-title"><i class='bx bx-happy-beaming'></i> Sobre mí</h1>
    <article>
        <p class="section-text">¡Hola! 👋</p>
        <p class="section-text">
            Soy desarrollador Full Stack. Durante mi vida académica, he podido conseguir experiencia en el desarrollo web, tanto en el desarrollo Back como en el Front. Además, he podido aprender y aplicar diferentes técnicas para crear software eficiente y estético. ⚒️⭐
        </p>
        <p class="section-text">
            Actualmente estoy desarrollando mi trabajo de fin de grado en relación a la Inteligencia Artificial (IA) y el Deep Learning y su aplicación práctica. 🧠🖥️
        </p>
        <p class="section-text">
            Soy una persona curiosa y ambiciosa, y es por eso que además de mi interés por la web y mi desarrollo con la IA, también me interesa la creación de aplicaciones móviles.
        </p>
    </article>
    {% include home_sections/contact.html %}
</section>
