<h3><i class='bx bx-phone'></i> Contáctame</h3>
<ul class="contact-list">
    <div>
        <li class="contact-item">
            <a href="mailto:javierms.dev@gmail.com" rel="noopener noreferrer" class="contact-link"><i class='bx bx-mail-send'></i> Correo</a>
        </li>
        <li class="contact-item">
            <a href="https://www.linkedin.com/in/javiermaciasempere/" rel="noopener noreferrer" target="_blank" class="contact-link"><i class='bx bxl-linkedin'></i> LinkedIn</a>
        </li>
    </div>
    <li class="contact-item">
        <a href="/assets/pdf/Javier Maciá Sempere - CV.pdf" rel="noopener noreferrer" target="_blank" class="contact-link"><i class='bx bxs-file-pdf'></i> Currículum Vitae</a>
    </li>
</ul>
