<section class="section-experience">
    <h1 class="section-title"><i class='bx bx-briefcase'></i> Experiencia</h1>
    
    <div class="timeline-container">
        <div class="timeline">
            <!-- The Blue DropSense -->
            <div class="timeline-item" data-aos="fade-up" data-aos-delay="100">
                <div class="timeline-dot">
                    <img src="/assets/img/logos/dropsense.png" alt="Logo Aire Networks" class="timeline-logo">
                </div>
                <div class="timeline-content">
                    <div class="timeline-date">
                        <span>Marzo 2025 - Actualidad</span>
                    </div>
                    <div class="timeline-card">
                        <div class="timeline-card-header">
                            <h3>The Blue DropSense S.L.</h3>
                            <span class="timeline-badge">Ingeniero informático</span>
                        </div>
                        <div class="timeline-card-body">
                            <ul class="timeline-achievements">
                                <li>
                                    <i class='bx bxl-drupal'></i>
                                    <span>Programación en Drupal 9 y 10, PHP, HTML, CSS y JavaScript.</span>
                                </li>
                                <li>
                                    <i class='bx bx-code-block'></i>
                                    <span> Aporté asistencia técnica a los empleados.</span>
                                </li>
                                <li>
                                    <i class='bx bx-server'></i>
                                    <span> Instalé y configuré servidores Linux y ordenadores Windows.</span>
                                </li>
                                <li>
                                    <i class="bx bx-code-alt"></i>
                                    <span> Creé módulos personalizados y APIs para Drupal.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Aire Networks -->
            <div class="timeline-item" data-aos="fade-up" data-aos-delay="100">
                <div class="timeline-dot">
                    <img src="/assets/img/logos/aire.png" alt="Logo Aire Networks" class="timeline-logo">
                </div>
                <div class="timeline-content">
                    <div class="timeline-date">
                        <span>Noviembre 2024 - Febrero 2025</span>
                    </div>
                    <div class="timeline-card">
                        <div class="timeline-card-header">
                            <h3>Aire Networks del Mediterráneo S.L.</h3>
                            <span class="timeline-badge">Becario</span>
                        </div>
                        <div class="timeline-card-body">
                            <ul class="timeline-achievements">
                                <li>
                                    <i class='bx bx-server'></i>
                                    <span>Configuración de Routers y ONTs, gestión de VLANs e IPs.</span>
                                </li>
                                <li>
                                    <i class='bx bx-support'></i>
                                    <span>Soporte técnico a distribuidores y contratas en solicitudes de fibra.</span>
                                </li>
                                <li>
                                    <i class='bx bx-analyse'></i>
                                    <span>Estudios de viabilidad FTTH para nuevas instalaciones de red.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GIOS -->
            <div class="timeline-item" data-aos="fade-up">
                <div class="timeline-dot">
                    <i class='bx bx-code-alt'></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-date">
                        <span>Abril 2024 - Noviembre 2024</span>
                    </div>
                    <div class="timeline-card">
                        <div class="timeline-card-header">
                            <h3>GIOS Brand Distribution S.L.</h3>
                            <span class="timeline-badge">Programador informático</span>
                        </div>
                        <div class="timeline-card-body">
                            <ul class="timeline-achievements">
                                <li>
                                    <i class='bx bx-user-voice'></i>
                                    <span>Único informático en la empresa, liderando el desarrollo técnico.</span>
                                </li>
                                <li>
                                    <i class='bx bxl-wordpress'></i>
                                    <span>Desarrollé WordPress personalizado con HTML, CSS, JavaScript y PHP.</span>
                                </li>
                                <li>
                                    <i class='bx bx-paint'></i>
                                    <span>Implementé interfaces estéticas, eficientes, adaptables y accesibles.</span>
                                </li>
                                <li>
                                    <i class='bx bx-search-alt'></i>
                                    <span>Generé contenido para productos y mejoré el posicionamiento SEO.</span>
                                </li>
                                <li>
                                    <i class='bx bx-conversation'></i>
                                    <span>Coordiné actividades con diferentes departamentos de la empresa.</span>
                                </li>
                                <li>
                                    <i class='bx bx-revision'></i>
                                    <span>Optimicé módulos existentes y desarrollé nuevas funcionalidades.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Parque Científico -->
            <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                <div class="timeline-dot">
                    <img src="/assets/img/logos/parquecientifico.png" alt="Logo Parque Científico" class="timeline-logo">
                </div>
                <div class="timeline-content">
                    <div class="timeline-date">
                        <span>Mayo 2021 - Octubre 2022 y Junio 2023 - Octubre 2023</span>
                    </div>
                    <div class="timeline-card">
                        <div class="timeline-card-header">
                            <h3>Parque Científico de la UMH de Elche</h3>
                            <span class="timeline-badge">Becario</span>
                        </div>
                        <div class="timeline-card-body">
                            <ul class="timeline-achievements">
                                <li>
                                    <i class='bx bxl-drupal'></i>
                                    <span>Desarrollo de ejercicios interactivos en Drupal 7.</span>
                                </li>
                                <li>
                                    <i class='bx bx-code-block'></i>
                                    <span>Implementación de soluciones adaptadas a necesidades específicas.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
