.btn-primary {
    color: #15151b;
    background-color: #fefe00; /* COLOR DE BOTÓN PRINCIPAL*/
    border-color: #fdfe00; /* COLOR DE ACENTO */
}

.btn-secondary {
    color: #fefefd;
    background-color: #29282d; /* COLOR DE BOTÓN SECUNDARIO*/
    border-color: #1E1E1E;
}